@import url(https://fonts.google.com/specimen/Montserrat?query=monts);
@import url(https://fonts.google.com/specimen/Abril+Fatface?query=abril&sidebar.open&selection.family=Abril+Fatface);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
}

/* tete de page */
header.header {
    display: flex;
    align-items: center;
}

header.header img {
    width: 150px;
}

section.top-page {
    background: url("../images/bg.jpg");
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}

/* Page de bienvenue landing-page */

.landing-page {
    padding: 20px 50px;
    position: relative;
}

.big-title {
    font-size: 75px;
    color: white;
    font-family: Abril FatFace, sans-serif;
    font-weight: 600;
    width: 50%;
}

.scroll-down {
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 0px;
}

/* Menu de navigation */
nav.nav {
    display: flex;
    list-style: none;
    width: 400px;
    margin-left: 30px;
    justify-content: space-between;
}

nav.nav li a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;

}

/* La section Flexbox */
.services {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.delivery-icon {
    font-size: 50px;
    color: #ADD981;
}

.service-details {
    font-weight: 600;
    width: 200px;
    padding-top: 10px;
    
}

/* La section bests-sells */

.bests-items {
    margin: 30px;
}

.section-title {
    font-size: 50px;
    font-family: Abril FatFace, sans-serif ;
    font-weight: 600;
    position: relative;
    margin-bottom: 20px;
}

.section-title::before {
    content: "";
    position: absolute;
    background-color: #ADD981;
    width: 50px;
    height: 7px;
    bottom: -5px;
}

.best-plants  {
    min-height: 500px;
    display: flex;
}

.plant-box {
    position: relative;
}

.no-grid {
    width: 350px;
    height: 500px;
    flex: 1;
}

.plant1 {
    background: url(../images/nos_meilleures_ventes/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.plant2 {
    background: url(../images/nos_meilleures_ventes/2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.plant3 {
    background: url(../images/nos_meilleures_ventes/3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.plant4 {
    background: url(../images/nos_meilleures_ventes/4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.plant-details {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 20px;
    background-color: #FFFFFFDF;
    height: 55px;
    display: block;
}

.plant-name {
    font-weight: 600;
    line-height: 13px;
    font-size: 20px;
}

.plant-price {
    color: #ADD981;
    font-weight: 700;
    font-size: 15px;
}

/* section All-Plants*/
.all-plants {
    margin: 50px;
}

.plant-grid {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,400px);
    gap: 10px;
}

.plant-grid1  {
    background: url(../images/nos_plantes/1.jpg);
    grid-column: 1/3;
    grid-row: 1/3;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.plant-grid2  {
    background: url(../images/nos_plantes/2.jpg);
    grid-column: 3/5;
    grid-row: 1/2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.plant-grid3  {
    background: url(../images/nos_plantes/3.jpg);
    grid-column: 3/5;
    grid-row: 2/3;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.plant-grid4  {
    background: url(../images/nos_plantes/4.jpg);
    grid-column: 1/2;
    grid-row: 3/5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.plant-grid5  {
    background: url(../images/nos_plantes/5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 2/4;
    grid-row: 3/5;
}

.plant-grid6  {
    background: url(../images/nos_plantes/6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-row: 4/5;
    grid-row: 3/5;
}


/* Le footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    font-weight: 600;
}